<!-- Filename: footer.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: October 1, 2022 -->

<!-- Footer section -->
<h6>Copyright &copy; Siddharth Verma, Student ID: 301207026, COMP-229: Assignment 2, Fall 2022.</h6>