<!-- Filename: header.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Otcober 1, 2022 -->

<!-- Header section including all navigation links to different pages of website. The main logo will serve as a link to the home page. Links to login/logout and the list will be 
dynamically loaded depending on whether the the user is logged in or not -->
<a href="/"><img id="logo" src="/Content/images/mainLogo.jpg" alt="Main Website Logo"></a>
<div id="navigationBar">
    <a href="/about">About me</a>
    <a href="/projects">My projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact Me</a>
    <% if(displayName) { %>
        <a href="/list">My List</a>
        <a href="/logout"> Logout</a>
        
        <% } else { %>
         <a href="/login">Login</a>
        <% } %>
</div>