<!-- Filename: about.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Sep 19, 2022 -->

<!-- About me page -->
<div class="mainDiv">
    <img id="myPhoto" src="./Content/images/photo.jpg" alt="Image of Siddharth Verma">
    <br><br>
    <div id="aboutMe">
        <h1 id="aboutMeTitle">About me</h1>
        <p id="aboutMePara">
            My name is Siddharth Verma and I am currently in my third semester of Health Informatics Technology at
            Centennial College.
            Anything related to technology interests me and I like to explore different and new types of technology that
            we are surrounded with nowadays.
            I also come from a healthcare background and so I decided to pursue Health Informatics Technology at
            Centennial College since I felt that this program will provide a good blend of technology and techniques
            involved in software/web development in the field of healthcare. However, I am also open to other job
            opportunities geared towards software, web or app development.
            Outside of school, I like to keep myself physically and
            mentally fit. I also like to listen to music and travel.
            <br><br>
            Below is a link to my resume that outlines my study,
            work and volunteer experience.
            It also outlines the projects that I have worked on ever since I started my journey in the world of
            software development.
        </p>
        <a href="./Content/pdf/Resume.pdf">Click to view my resume!</a>
    </div>
</div>