<!-- Filename: contact.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Sep 19, 2022 -->

<!-- Contact me page with form -->
<div class="mainDiv" id="mainContactDiv">
    <h1>Contact Me</h1>
    <ul>
        <li><span id="emailSpan">Email:</span> sverma99@my.centennialcollege.ca</li>
        <li><span id="phoneSpan">Phone:</span> 289-233-4549</li>
    </ul>
    <p id="alternate">Alternatively, you can also contact me via the form below:</p>
    <br>
    <div id="formContact">
        <form id="contactForm">
            <label id="firstNameLabel">First Name:</label>
            <input id="firstName" type="text" maxlength="15">
            <br><br>
            <label id="lastNameLabel">Last Name:</label>
            <input id="lastName" type="text" maxlength="15">
            <br><br>
            <label id="emailLabel">Your Email:</label>
            <input id="email" type="text" maxlength="30">
            <br><br>
            <label id="phoneLabel">Your Phone Number (optional):</label>
            <input id="phone" type="text" maxlength="12">
            <br><br>
            <label id="inquiryLabel">Your questions/comments:</label>
            <textarea id="comments"></textarea>
        </form>
    </div>
    <br>
    <a href="/home"><button type="button" id="aboutMeButton" class="btn btn-outline-info">Submit</button></a>
</div>