<!-- Filename: home.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Sep 19, 2022 -->

<!-- Main/home page  -->
<div id="mainIntro">
    <div id="welcomeBox">
        <h1 id="welcome">WELCOME TO MY PORTFOLIO!</h1>
        <p id="introText">
            Here you will get to know a bit about me and my accomplishments and future goals regarding my career in
            software / web development. To get to know more about me, click the button below!
        </p>
        <a href="/about"><button type="button" class="btn btn-outline-info">About me</button></a>
    </div>
</div>
<div id="mission">
    <h2 id="missionStatementTitle">My Mission Statement</h2>
    <p id="missionStatementText">
        I am a motivated, responsible and hardworking individual. My main goal in life is to always seek opportunities
        to learn and grow. Doing so not only allows me to advance in my career but it also allows me to share my
        knowledge and experience with others as well. I also believe that hard-work, efficiency and responsibility are
        the keys to success.
    </p>
</div>