<!-- Filename: login.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Date: October 1, 2022 -->

<!-- Rendering the login page -->
<div class="mainDiv">
    <h1>Log in to your account</h1>
    <br>
    <% if(messages.length > 0) { %>
    <div id="messageArea" class="alert alert-danger">
        <%= messages %>
    </div>
    <% } %>
    <form id="loginForm" method="POST" novalidate>
        <label id="firstNameLabel">Username:</label>
        <input id="usernameInput" type="text" maxlength="20" name="username">
        <br><br>
        <label id="lastNameLabel">Password:</label>&nbsp;
        <input id="passwordInput" type="password" maxlength="20" name="password">
        <br><br>
        <button class="btn btn-outline-info" type="submit">Log in</button>
    </form>
</div>
