<div class="mainDiv">
    <% if(messageLogout.length > 0) { %>
        <div id="messageArea" class="alert alert-success">
            <%= messageLogout %>
        </div>
        <% } %>
    <p>Want to log back in? <a href="/login">Click here!</a></p>
</div>
