<!-- Filename: logout.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: October 1, 2022 -->

<!-- Rendering log out page for when the user logs out -->
<div class="mainDiv">
    <% if(messageLogout.length > 0) { %>
        <div id="messageArea" class="alert alert-success">
            <%= messageLogout %>
        </div>
        <% } %>
    <p>Want to log back in? <a href="/login">Click here!</a></p>
</div>
