<!-- Filename: projects.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: October 1, 2022 -->

<!-- Projects page listing all the projects I have done so far -->
<div class="mainDiv">
    <h1 id="projectsTitle">My Projects</h1>
    <br>
    <div id="firstProject">
        <img id="bvLogo" src="./content/images/bvLogo.jpg" alt="Better Vision Eyewear Logo">
        <br><br>
        <p id="bvProjectText"><span id="bvTitle">1. BV Training Assistant: </span>This was an individual project for
            Better Vision Eyewear.
            I wrote the main code, designed the UI, tested and implemented a Windows Forms Desktop Application written
            in C#. This project was aimed toward helping to train new staff and improving overall business workflow.</p>
    </div>
    <br><br>
    <div id="secondProject">
        <img id="realEstateLogo" src="./content/images/realEstateLogo.jpg" alt="Smith Real Estate Logo">
        <br><br>
        <p id="realEstateProjectText"><span id="realEstateTitle">2. Smith Real Estate Website: </span>This was an
            individual project related to classwork. We were tasked with creating a simple real estate website for a
            fictional real estate brokerage firm. This
            project mainly focused on writing proper HTML code and linking various pages together to create a
            functioning website hosted on a local computer. I wrote the main code, designed all the webpages and tested
            the website to ensure it loaded properly.</p>
    </div>
    <br><br>
    <div id="thirdProject">
        <img id="bvLogo" src="./content/images/bvLogo.jpg" alt="Better Vision Eyewear Logo">
        <br><br>
        <p id="reminderText"><span id="reminderTitle">3. Appointment Reminder: </span>This was an individual project for
            Better Vision Eyewear.
            I designed a simple and basic Node.js application that uses the Vonage API to send text messages as reminder
            to patients who have an upcoming appointment.
            I wrote the code, designed the UI and tested the application to make sure it is working properly.</p>
    </div>
</div>