<!-- Filename: services.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: October 1, 2022 -->


<!-- My services page outlining the development services I offer -->
<div id="mainServices">
    <h1>My Services</h1>
    <br>
    <div id="service1">
        <img id="cImage" src="./Content/images/csharp.png" alt="C# Logo">
        <!-- Image source: https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png -->
        <p>Introductory C# Programming</p>
    </div>
    <br><br>
    <div id="service2">
        <img id="webImage" src="./Content/images/jsLogo.png" alt="JavaScript Logo">
        <!-- Image source: https://www.freepnglogos.com/uploads/javascript-png/logo-html5-js-css3-png-transparent-logo-4.png -->
        <img id="webImage" src="./Content/images/nodeJs.png" alt="Node.js Logo">
        <!-- Image source: https://litslink.com/blog/what-should-you-know-about-the-future-of-nodejs -->
        <p>Introductory Web Development (HTML, CSS, JavaScript, Node.js)</p>
    </div>
    <br><br>
    <div id="service3">
        <img id="uiDesign" src="./Content/images/uiDesign.png" alt="Sample User Interface">
        <!-- Image source: https://www.pngwing.com/en/search?q=User+interface+design  -->
        <p>UI Design</p>
    </div>
    <br><br>
    <div id="service4">
        <img id="sql" src="./Content/images/sql.png" alt="SQL Database Picture">
        <!-- Image source: https://www.pngwing.com/en/free-png-zoupl -->
        <p>Introductory Database Programming (SQL)</p>
    </div>
</div>